[submodule "themes/DoIt"]
	path = themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt.git
[submodule "themes/themes/Stack"]
	path = themes/themes/Stack
	url = https://github.com/CaiJimmy/hugo-theme-stack-starter.git
[submodule "themes/Stack"]
	path = themes/Stack
	url = https://github.com/CaiJimmy/hugo-theme-stack
