<div class="cv-container">
    <div class="profile-image">
        <img src="{{ "image/91325.jpg" | relURL }}" alt="Profile Image">
    </div>
    <div class="profile-info">
        <p><strong>Ngoc X.B. Nguyen (Jean), Ph.D.</strong></p>
        <p>Bioinformatics Scientist</p>
        <a href="{{ "files/CV_2025.pdf" | relURL }}">Full Curriculum Vitae</a>
        <p>✉️ jeannguyen1993@gmail.com - ngoc.nguy@kmutt.ac.th - xuanbaongoc.nguyen@adelaide.edu.au</p>
        <p>📞 (+61) 411-544-913; (+84) 86-940-9967</p>
    </div>
</div>

<style>
    .cv-container {
        display: flex;
        gap: 2rem;
        padding: 2rem;
    }
    .profile-image {
        flex: 0 0 250px;
    }
    .profile-image img {
        width: 90%;
        border-radius: 8px;
    }
    .profile-info {
        flex: 1;
    }
</style>
