

<div class="proteins-container">
    <div class="proteins image-container">
        {{ $imageNames := slice "crfk.png" "IMG1.jpg" "IMG2.jpg" }}
        {{ range $imageNames }}
            <div class="proteins-item">
                <img src="{{ printf "research/%s" . | absURL }}" alt="proteins">
            </div>
        {{ end }}
    </div>
</div>

<style>
    .image-container {
        display: flex;
        justify-content: center; /* Center images horizontally */
        align-items: center; /* Align images vertically */
        flex-wrap: nowrap; /* Prevent images from wrapping */
        gap: 0px; /* Add minimal space between images */
        text-align: center;
    }
    .pub2024-item {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .image-container img {
        width: 100%; /* Adjust size to fit side by side */
        height: auto; /* Maintain aspect ratio */
        object-fit: scale-down; /* Ensures image fits without distortion */
    }
</style>